* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: red;
  padding: 20px 40px;
}

.grid-container > div {
  background-color: white;
  border: 1px solid black;
  text-align: center;
}

.item:first-child {
  grid-row-start: 1;
  grid-row-end: 3;
}

.item:nth-child(4) {
  display: none;
}

.item:nth-child(8) {
  grid-column: 2 / 4;
}

.item:last-child {
  display: none;
}
