* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
}

.item {
  width: 150px;
  height: 150px;
  border: 2px solid greenyellow;
}

.item:last-child {
  flex-grow: 1;
}
