/* ------------- Selettore universale ------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------- Fine Selettore universale ------------- */

.font-size {
  font-size: 30px;
}

.title,
.text {
  color: chocolate;
}

.background {
  background-color: beige;
}
