.container span {
  border: 1px solid;
  width: auto;
  height: auto;
}

.container span:nth-child(1) {
  display: inline;
  color: red;
}

.container span:nth-child(2) {
  display: inline-block;
  color: aqua;
}

.container span:nth-child(3) {
  display: block;
  color: blueviolet;
}
