* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  padding: 16px;
  background-color: ;
}

header {
  text-align: center;
  background-color: greenyellow;
  padding: 20px;
}

nav {
  text-align: center;
  background-color: green;
  padding: 40px;
}

nav a {
  text-decoration: none;
}

.content {
  display: flex;
  text-align: center;
}

.content .content__text {
  background-color: coral;
  width: 250px;
  height: 250px;
  padding-top: 120px;
}

.content .content__main {
  background-color: chocolate;
  width: 750px;
  height: 250px;
  padding-top: 120px;
}

footer {
  padding: 20px;
  background-color: rgb(201, 59, 7);
  text-align: center;
}
